table{
    width: 100%;
    text-align: center;
}

tr{
    border: 1px solid black;
}
td{
    text-align:center;
}
button{
    display: flex;
    justify-content: right;
}
@media  only screen and (max-content) {
    
}
.d-flex{
    display: flex;
    justify-content: center;
}
table tr th  {
    border-bottom: 2px solid black;
}