main{
    background-color:white
}
h2{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.card img{
    object-fit: contain;
    aspect-ratio: 3/2;
    
}
#card {
    box-shadow: 0.3rem 0.3rem grey;

}
.container .btn{
    background-color: hotpink;
    color: black;  
    border: 4px darkgray;
}
.btn-btn-primary{
color: black;
background-color: hotpink;
}
