*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* margin-top: 20px; */
    color: hotpink;
}

.container-fluid{
    background-color:  rgb(113, 112, 112);
}
 
body{
    background-color: gray;
}


.banner{
    /* background-image:url('https://i.postimg.cc/GmgWr5hW/guitarshomepg.jpg'); */
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    color: hotpink;
    text-align: center;
    
    
}
footer{
    text-align: center;
    border-top: 2px solid black;
    font-weight: 900;
    background-color:gray;
}

